*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:white;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.links ul{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    list-style: none;
    
}
.links ul li a{
    text-decoration: none;
    color: rgb(14, 3, 3);
    transition: color 0.3s ease;
}
.links ul li a:hover{
    color:#ffd700;
}
.maininfo{
    height: 90vh;
    background: url(https://cdn.pixabay.com/photo/2022/04/19/08/32/relax-7142183_1280.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.data{
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius:90px;

}
.get{
    background-color: #333;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius:20px ;
    font-size: 18px;
}
.get:hover{
    background-color: #555;
    color: #ffd700;
}
.dumm{
    height: 73.84px;
}
#N{
    text-align: center;
    font-size: 50px;
    padding-top: 73.84px;
    padding-bottom: 20px;
}
.card1 img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}
.servicecontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 100px;
    padding-right: 50px;
}
#S{
    text-align: center;
    font-size: 50px;
    padding-top: 73.84px;
    padding-bottom: 20px;
}
.p1 img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.testino{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 100px;
    padding-right: 50px;
}
#C{
    text-align: center;
    font-size: 50px;
    padding-top: 73.84px;
    padding-bottom: 20px;
}
.contactform{
    background-color: rgba(24, 11, 11, 0.041);
    height: 80vh;
}
.contact{
    padding-top:100px;
    height: 400px;
    text-align: center;
}

